<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LINKVINE - Page Not Found</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Fontawsome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/user/404.css">
</head>
<body>

<main>
    <div class="container text-center">
        <img src="/static/img/undraw_404.png" alt="..." class="img-fluid" id="profile_img" class="img-fluid">

        <div class="title font-weight-bold">
            Oops - There is no such user/page, but this page could be yours!
        </div>

        <div class="sub-title text-muted">
            The page you are looking for might have been removed, <br>had its name changed or it is temporarily unavailable
        </div>

        <a href="{{ url_for('register') }}" id="link">Create an account now!</a>

    </div>
</main>

</body>
</html>